attrs>=23.2,<23.3
cachetools>=5.5.2,<5.6
certifi==2023.7.22
charset-normalizer>=3.4.4,<3.5
cray-product-catalog>=2.8,<2.9
google-auth>=2.23,<2.24
idna>=3.11,<3.12
jsonschema>=4.25.1,<4.26
# CSM 1.7 moved to Kubernetes 1.32, so use client v32.x to ensure compatability
kubernetes>=32.0,<32.1
oauthlib>=3.3.1,<3.4
pyasn1>=0.6.1,<0.7
pyasn1-modules>=0.4.2,<0.5
pyrsistent>=0.20,<0.21
python-dateutil>=2.9,<2.10
PyYAML>=6.0.2,<6.1
requests>=2.32,<2.33
requests-oauthlib>=2.0,<2.1
rsa>=4.9,<4.10
six>=1.17,<1.18
urllib3>=1.26.19,<1.27
websocket-client>=1.9,<1.10
wheel>=0.45,<0.46
